---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Right
SortIncludes: CaseSensitive
Standard: Latest
IndentCaseLabels: false
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: None
AlignTrailingComments: true
