name: Arduino Library CI

on: [pull_request, push, repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - uses: actions/checkout@v3

    - uses: actions/checkout@v3
      with:
        repository: adafruit/ci-arduino
        path: ci

    - name: Install CI prerequisites
      run: bash ci/actions_install.sh

    - name: Check code formatting with clang-format
      run: python3 ci/run-clang-format.py -e "ci/*" -e "bin/*" -r .

    - name: Build for ESP32
      run: python3 ci/build_platform.py esp32

    - name: Build for ESP32-S3
      run: python3 ci/build_platform.py feather_esp32s3
